.input{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0.15em solid rgb(0, 0, 0);
    border-radius: 7px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.buscador{
    display: flex;
}
.boton{
    margin-left: 10px;
    margin-right: 50px;
    padding-top:  8px;
    padding-bottom:  8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
    background-color: rgb(238, 135, 0);
    border: 0.15em solid black;
    color: aliceblue;
}
.navegacion{
    display: flex;
    align-items: center;
}
.detalle{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0.15em solid rgb(255, 135, 135);
    border-radius: 7px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}